.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 90%;
}

.form>div {
  margin-bottom: 20px;
}